<?xml version="1.0"?>
<configuration>
  <!-- Secrets (AI key) go in Web.Secrets.config, which is git-ignored. See Web.Secrets.config.example -->
  <appSettings file="Web.Secrets.config">
    <add key="Ai:Model" value="claude-sonnet-5-5"/>
    <add key="Ai:MaxQuestionsPerHour" value="20"/>
  </appSettings>
  <connectionStrings>
    <!-- Change Data Source to match your SQL Server instance (e.g. (localdb)\MSSQLLocalDB or .\SQLEXPRESS) -->
    <add name="con" connectionString="Data Source=MILKY_GURU\SQLEXPRESS;Initial Catalog=LibraryDB;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="4096" enableVersionHeader="false"/>
    <customErrors mode="RemoteOnly"/>
    <sessionState timeout="20"/>
    <httpCookies httpOnlyCookies="true"/>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="SAMEORIGIN"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>